ul {
    list-style-type: none;
}

.slider-image {
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70%;
}

.slider {
    width: 400%;
    height: 100%;
    margin: 0;
}

.slider li {
    float: left;
    width: 25%;
}

.container-slider {
    /*overflow: hidden;*/
}

.controls-buttons {
    margin-top: 15px;
    display: inline-block;
}

.button-prev, .button-next {
    border-radius: 30px;
    background-color: gray;
}
